.outer-box{
  width: 96%;
  border: 1px solid salmon;
  margin: 20px auto;
}

.innerBox{
  width: 96%;
  height: 60px;
  margin: 10px auto;
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.pagination-block{
  display: flex;
  width: 30%;
  margin: 20px auto;
  border: 1px solid saddlebrown;
  padding: 20px;
}

.btn{
  width: 80px;
  height: 40px;
}

li{
  list-style: none;
}

.paging{
  width: 50%;
  margin: 40px auto;
}

.paginationContainer{
  list-style: none;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;

}

.paginationContainer a{
    padding: 10px;
    margin: 10px;
    border: 1px solid salmon;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.paginationContainer a:hover{
  background-color: salmon;
  
}

.activeNo a{
  color: aliceblue;
  background-color: salmon;
}

.inputField{
  width: 200px;
  float: right;
  margin: 20px;
}

.inputField input{
  width: 20px;
}